fastapi==0.78.0
uvicorn==0.17.0
pydantic==1.9.0
requests==2.27.1
a2wsgi==1.10.6
aioquic==1.2.0
attr==0.3.2
brotli==1.1.0
brotlicffi==1.1.0.0
cached_property==1.5.2
chardet==5.2.0
colorama==0.4.6
ConfigParser==7.0.0
ctypes_snappy==1.1
curio==1.6
cython==3.0.10
disco==1.40.4
dj_database_url==2.2.0
dj_email_url==1.0.6
django_cache_url==3.4.5
docutils==0.21.2
eval_type_backport==0.2.0
exceptiongroup==1.2.1
filelock==3.15.4
gunicorn==22.0.0
h2==4.1.0
HTMLParser==0.0.2
hypothesis==6.105.1
importlib_metadata==8.0.0
ipython==8.12.3
ipywidgets==8.1.3
itsdangerous==2.2.0
jnius==1.1.0
kerberos==1.3.1
keyring==25.2.1
loop==1.0.0
matplotlib==3.9.1
numpy==2.0.0
outcome==1.3.0.post0
pandas==2.2.2
Pillow==10.4.0
protobuf==5.27.2
pymongo_auth_aws==1.2.0
pymongocrypt==1.10.1
pyOpenSSL==24.1.0
pytest==8.2.2
redis==5.0.7
service_identity==24.1.0
sets==0.3.2
setuptools_scm==8.1.0
slack_sdk==3.31.0
socksio==1.0.0
speedups==1.4.0
Sphinx==7.3.7
tensorflow==2.16.2
toml==0.10.2
ujson==5.10.0
url_parser==3.0.3
urllib3_secure_extra==0.1.0
watchgod==0.8.2
winkerberos==0.11.0
wmi==1.5.1
wsproto==1.2.0
xmlrpclib==1.0.1
zstandard==0.22.0
